.voice_instruct_container {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: white;
}
.voice_instruct_content {
    padding: 20px;
    width: 100%;
    height: 100%;
}
.voice_instruct_content_mobile {
    background-color: white;
    padding: 20px;
    width: 100%;
    height: 100%;
}
