.sharedKnowledges_container_mobile {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 640px;
    background-color: white;
}
.sharedKnowledges_container_tab {
    width: 100%;
    height: 515px;
    background-color: white;
}
.sharedKnowledges_content_mobile {
    background-color: white;
    height: 100%;
    overflow-Y: scroll;
}
