.study_town_container{
    padding: 10px;
    width: 100%;
    height: 601px;
    overflow: auto;
}
.study_town_content{
    background-color: white;
    width: 100%;
    height: 100%;
    overflow: scroll;
}
