/* ProgressBarComponent.css */
.progress_bar_container {
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 430px;
    height: 720px;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
