.card_message_button{
    margin-top: 15px;
    padding: 0px 10px;
    background-color: #ffffff;
    border:none;
    font-size: 18px;
    color: black;
}
.card_message_button_container {
    display: flex;
    justify-content: right;
}
