.headingLg {
  font-size: 1.5rem;
}

.borderCircle {
  border-radius: 9999px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.singlePageContent {
  color: white;
  font-family: 'Arial', sans-serif;
  height: 720px;
  overflow: hidden;
  padding: 15px;
  /*background-image: linear-gradient(to bottom, #000000, #cccccc);*/
}
